@import "~antd/dist/antd.css";

.h100 {
  height: calc(100vh - 64px);
}

.contact {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  border: 1px solid gray;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  width: min-content;
  margin: 0.4rem;
}
.searchInput {
  width: auto;

  margin: 0.4rem;
}
